# Trabajo Practico 1
## Grupo 4

In [5]:
# Seteo el directorio
import os
os.chdir("/Users/ignacioabalos/Desktop/TP 1  big data/")

In [19]:
# Voy a abrir las bases de datos. Para eso importo la libreria pandas
import pandas as pd

# Comienzo importanto la del primer trimestre de 2024
df2024 = pd.read_excel("usu_individual_T124.xlsx")

# Chequeo
df2024.sample(5)

In [ ]:
# Ahora abri la de 2004
df

In [20]:
df2024.head(10)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,3,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
1,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,4,1,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
2,TQRMNOPUTHLMKQCDEGGFB00852588,2024,1,1,5,0,42,S,10,439,...,NaN,12,0.0,12,12.0,12,12.0,NaN,12,0
3,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,1,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
4,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,2,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
5,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,3,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
6,TQRMNOPPWHLLKRCDEGGFB00852574,2024,1,1,4,1,42,S,10,675,...,NaN,8,212500.0,6,6.0,6,6.0,NaN,6,1610
7,TQRMNORSVHKMKNCDEFNFF00856879,2024,1,1,1,1,41,N,7,403,...,12.0,12,0.0,12,12.0,12,NaN,12.0,12,0
8,TQRMNORSVHKMKNCDEFNFF00856879,2024,1,1,2,1,41,N,7,403,...,12.0,12,0.0,12,12.0,12,NaN,12.0,12,0
9,TQRMNORSVHKMKNCDEFNFF00856879,2024,1,1,3,1,41,N,7,403,...,12.0,12,0.0,12,12.0,12,NaN,12.0,12,0